RewriteEngine On
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

Redirect 301 /register/ https://translion.net/
Redirect 301 /vidperkl.html https://translion.net/ua/vidperkl.html
Redirect 301 /tsiny.html https://translion.net/ua/tsiny.html
Redirect 301 /kontakt.html https://translion.net/ua/kontakt.html
Redirect 301 /poslugi.html https://translion.net/ua/poslugi.html
Redirect 301 /termper.html https://translion.net/ua/termper.html
Redirect 301 /pysmovyi.html https://translion.net/ua/pysmovyi.html
Redirect 301 /tehnua.html https://translion.net/ua/tehnua.html
Redirect 301 /ekonua.html https://translion.net/ua/ekonua.html
Redirect 301 /finua.html https://translion.net/ua/finua.html
Redirect 301 /medua.html https://translion.net/ua/medua.html
Redirect 301 /yurua.html https://translion.net/ua/yurua.html
Redirect 301 /lichua.html https://translion.net/ua/lichua.html
Redirect 301 /usnyi.html https://translion.net/ua/usnyi.html
Redirect 301 /notarialnyi.html https://translion.net/ua/notarialnyi.html
Redirect 301 /aplehal.html https://translion.net/ua/aplehal.html
Redirect 301 /zasvidch.html https://translion.net/ua/zasvidch.html
Redirect 301 /nostrifua.html https://translion.net/ua/nostrifua.html
Redirect 301 /kurierua.html https://translion.net/ua/kurierua.html
Redirect 301 /persaytu.html https://translion.net/ua/persaytu.html
Redirect 301 /peraudiovideo.html https://translion.net/ua/peraudiovideo.html
Redirect 301 /perekladacham.html https://translion.net/ua/perekladacham.html
Redirect 301 /stati.html https://translion.net/statti/
Redirect 301 /stati/perevind.html https://translion.net/statti/perevind/
Redirect 301 /stati/fakty.html https://translion.net/statti/fakty/
Redirect 301 /stati/pravila.html https://translion.net/statti/pravila/
Redirect 301 /stati/dannye.html https://translion.net/statti/dannye/
Redirect 301 /stati/tonkosti.html https://translion.net/statti/tonkosti/
Redirect 301 /stati/zanimbp.html https://translion.net/statti/zanimbp/
Redirect 301 /stati/bukvi.html https://translion.net/statti/bukvi/
Redirect 301 /stati/zhyznsviaz.html https://translion.net/statti/zhyznsviaz/
Redirect 301 /stati/skryaz.html https://translion.net/statti/skryaz/
Redirect 301 /stati/mifi.html https://translion.net/statti/mifi/
Redirect 301 /stati/nedelajte.html https://translion.net/statti/nedelajte/
Redirect 301 /stati/trper.html https://translion.net/statti/trper/
Redirect 301 /ru/ https://translion.net/
Redirect 301 /ru/uslugi.html https://translion.net/ua/vidperkl.html
Redirect 301 /ru/tseny.html https://translion.net/ua/tsiny.html
Redirect 301 /ru/perevodchykam.html https://translion.net/ua/perekladacham.html
Redirect 301 /ru/kontakty.html https://translion.net/ua/kontakt.html
Redirect 301 /ru/srochnyj.html https://translion.net/ua/termper.html
Redirect 301 /ru/pismennyj.html https://translion.net/ua/pysmovyi.html
Redirect 301 /ru/tekhnicheskij.html https://translion.net/ua/tehnua.html
Redirect 301 /ru/ekonom.html https://translion.net/ua/ekonua.html
Redirect 301 /ru/finans.html https://translion.net/ua/finua.html
Redirect 301 /ru/yurid.html https://translion.net/ua/yurua.html
Redirect 301 /ru/lichnoj https://translion.net/ua/lichua.html
Redirect 301 /ru/ustnyj.html https://translion.net/ua/usnyi.html
Redirect 301 /ru/notarial.html https://translion.net/ua/notarialnyi.html
Redirect 301 /ru/apostil.html https://translion.net/ua/aplehal.html
Redirect 301 /ru/zav.html https://translion.net/ua/zasvidch.html
Redirect 301 /ru/nostrif.html https://translion.net/ua/nostrifua.html
Redirect 301 /ru/kurer.html https://translion.net/ua/kurierua.html
Redirect 301 /ru/saitov.html https://translion.net/ua/persaytu.html
Redirect 301 /ru/audiovideo.html https://translion.net/ua/peraudiovideo.html